@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 351.3 15% 100%;
    --foreground: 351.3 5% 10%;
    --card: 351.3 15% 100%;
    --card-foreground: 351.3 5% 15%;
    --popover: 351.3 15% 100%;
    --popover-foreground: 351.3 95% 10%;
    --primary: 351.3 94.5% 71.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 351.3 15% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 313.3 15% 95%;
    --muted-foreground: 351.3 5% 40%;
    --accent: 313.3 15% 90%;
    --accent-foreground: 351.3 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 351.3 5% 100%;
    --border: 351.3 20% 82%;
    --input: 351.3 20% 50%;
    --ring: 351.3 94.5% 71.4%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 351.3 15% 10%;
    --foreground: 351.3 5% 100%;
    --card: 351.3 15% 10%;
    --card-foreground: 351.3 5% 100%;
    --popover: 351.3 15% 5%;
    --popover-foreground: 351.3 5% 100%;
    --primary: 351.3 94.5% 71.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 351.3 15% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 313.3 15% 25%;
    --muted-foreground: 351.3 5% 65%;
    --accent: 313.3 15% 25%;
    --accent-foreground: 351.3 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 351.3 5% 100%;
    --border: 351.3 20% 50%;
    --input: 351.3 20% 50%;
    --ring: 351.3 94.5% 71.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
}
